.button,
.wire-button {
    border: none;
    background-color: #CA2728;
    border-radius: 2rem;
    padding: 0.5rem 2.5rem 0.5rem 2.5rem;
}

.button b {
    color: white;
}

.wire-button {
    background-color: transparent;
    border: solid;
}


/* .button:hover {
    cursor: pointer;
    background-color: rgb(173, 17, 48);
} */

.input {
    text-align: start;
    padding: 0.2rem;
    border: none;
    background: none;
    border-bottom: solid 1px;
}