@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    color: #1D3F6F;
    margin: 0;
    padding: 0;
    outline: none;
}

.logo-title {
    font-size: 64px;
}